version: '3.8'

services:
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: votesafe
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal-net

  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://admin:securepassword@db:5432/votesafe
      - HMAC_SECRET=burakcan_cok_gizli_anahtar_2025
    depends_on:
      - db
    networks:
      - internal-net

networks:
  internal-net:
    driver: bridge

volumes:
  pgdata: